
@import "oj/utilities/_oj.utilities.modules.scss";

// This file is where css selectors shared by all themes go.
// There will be hard code properties and properties controlled by variables, for example
//
// custom-pack-oj-gt-button-group .custom-pack-oj-gt-button-group-value-text {
// color: var(--custom-pack-oj-gt-button-group-value-text-color);
// display: inline-block;
// }

// Even if this file is imported many times 'module-include-once' ensures the content is included just once .
@include module-include-once("custom-pack-oj-gt-button-group.base") {
  custom-pack-oj-gt-button-group:not(.oj-complete){
    visibility: hidden;
  }
  
  custom-pack-oj-gt-button-group{
  	min-height: 50px;
  	width: 50px;
  }
}